@{
    Layout = "_AdminLayout";
}

<div class="pagetitle">
    <h1>Users</h1>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">List Of Users</h5>

                    <!-- Table with stripped rows -->
                    <div class="table-responsive">
                        <table class=" datatable table table-hover">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>User Name</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>Phone Number</th>
                                    <th>Preferred Credit Card</th>
                                    <th>Credit Card Info</th>
                                    <th>SkyMiles</th>
                                    <th data-type="date" data-format="YYYY/DD/MM">Register Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img src="~/image/user_placeholder.jpg" alt="Alternate Text" class="img-fluid" style="max-width: 100%;" /></td>
                                    <td class="text-nowrap">User asif</td>
                                    <td class="text-nowrap">Email</td>
                                    <td class="text-nowrap">Address</td>
                                    <td class="text-nowrap">Phone Number</td>
                                    <td class="text-nowrap">Preferred Credit Card</td>
                                    <td class="text-nowrap">Credit Card Info</td>
                                    <td class="text-nowrap">SkyMiles</td>
                                    <td class="text-nowrap" data-type="date" data-format="YYYY/DD/MM"></td>
                                    <td class="text-nowrap">Action</td>
                                </tr> <tr>
                                    <td><img src="~/image/user_placeholder.jpg" alt="Alternate Text" class="img-fluid" style="max-width: 100%;" /></td>
                                    <td class="text-nowrap">User name</td>
                                    <td class="text-nowrap">Email</td>
                                    <td class="text-nowrap">Address</td>
                                    <td class="text-nowrap">Phone Number</td>
                                    <td class="text-nowrap">Preferred Credit Card</td>
                                    <td class="text-nowrap">Credit Card Info</td>
                                    <td class="text-nowrap">SkyMiles</td>
                                    <td class="text-nowrap" data-type="date" data-format="YYYY/DD/MM"></td>
                                    <td class="text-nowrap">Action</td>
                                </tr> <tr>
                                    <td><img src="~/image/user_placeholder.jpg" alt="Alternate Text" class="img-fluid" style="max-width: 100%;" /></td>
                                    <td class="text-nowrap">User name</td>
                                    <td class="text-nowrap">Email</td>
                                    <td class="text-nowrap">Address</td>
                                    <td class="text-nowrap">Phone Number</td>
                                    <td class="text-nowrap">Preferred Credit Card</td>
                                    <td class="text-nowrap">Credit Card Info</td>
                                    <td class="text-nowrap">SkyMiles</td>
                                    <td class="text-nowrap" data-type="date" data-format="YYYY/DD/MM"></td>
                                    <td class="text-nowrap">Action</td>
                                </tr> <tr>
                                    <td><img src="~/image/user_placeholder.jpg" alt="Alternate Text" class="img-fluid" style="max-width: 100%;" /></td>
                                    <td class="text-nowrap">User name</td>
                                    <td class="text-nowrap">Email</td>
                                    <td class="text-nowrap">Address</td>
                                    <td class="text-nowrap">Phone Number</td>
                                    <td class="text-nowrap">Preferred Credit Card</td>
                                    <td class="text-nowrap">Credit Card Info</td>
                                    <td class="text-nowrap">SkyMiles</td>
                                    <td class="text-nowrap" data-type="date" data-format="YYYY/DD/MM"></td>
                                    <td class="text-nowrap">Action</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- End Table with stripped rows -->
                </div>
            </div>
        </div>
    </div>
</section>
