@{
    Layout = "_AdminLayout";
}


    <div class="pagetitle">
        <h1>Users</h1>
        
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">List OF Users</h5>

                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                                <tr>
                                <th>Image</th>
                                    <th>User name</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>PhoneNumber</th>
                                    <th>PreferredCreditCard</th>
                                    <th>CreditCardInfo</th>
                                    <th>SkyMiles</th>
                                    <th data-type="date" data-format="YYYY/DD/MM">Register Date</th>
                                    <th data-type="date">Action</th>
                                </tr>
                            
                            </thead>
                          <tbody>
                        <td><img src="~/image/user_placeholder.jpg" alt="Alternate Text" width="70%" /></td>
                        <td >User name</td>
                        <td>Email</td>
                        <td>Address</td>
                        <td>PhoneNumber</td>
                        <td>PreferredCreditCard</td>
                        <td>CreditCardInfo</td>
                        <td>SkyMiles</td>
                        <td data-type="date" data-format="YYYY/DD/MM"></td>
                        <td data-type="date">Action</td>
                        </tr>
                          </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

