@model List<AirlineReservationSystem.Models.Airline>
@* @model List<Airline> *@
@{
    Layout = "_AdminLayout";
}

<div class="pagetitle">
    <h1>Airlines</h1>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">List Of Airlines</h5>

                    <!-- Table with stripped rows -->
                    <div class="table-responsive">
                        <table class="datatable table table-hover">
                            <thead>
                                </tr>
                            <th>Image</th>
                            <th>Airline Name</th>
                            <th data-type="date" data-format="YYYY/DD/MM">Created Date</th>
                            <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                                @foreach (var airlines in Model)
                                {
                                    <tr>
                                        <td><img src="~/image/@airlines.ImagePath" alt="Alternate Text" width="70px" /></td>
                                        <td>@airlines.AirlineName</td>

                                        <td data-type="date" data-format="YYYY/DD/MM">@airlines.CreatedAt</td>

                                        <td data-type="date">

                                            <a asp-action="" asp-controller="" asp-route-id="@airlines.CreatedAt" onclick="return confirm('Are You Sure Edit this Airline?')"><i class="bi bi-pen" style="color:blue"></i></a>

                                            <a asp-action="" asp-controller="" asp-route-id="@airlines.CreatedAt" onclick="return confirm('Are You Sure Delete this Airline?')"><i class="bi bi-trash" style="color:red"></i></a>

                                           
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- End Table with stripped rows -->
                </div>
            </div>
        </div>
    </div>
</section>
